includes:
	- ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Variable property access on#'
		- '#^Anonymous function should have native return typehint#'
		- '#^Parameter \#1 \$callback of function call_user_func_array expects#'

	checkMissingIterableValueType: false
