includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	level: 9
	phpVersion: 70200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src

	ignoreErrors:
		- '#^Variable property access on#'
		- '#^Anonymous function should have native return typehint#'
		- '#^Parameter \#1 \$(callback|function) of function call_user_func_array expects#'
		- '#Nette\\Schema#'

	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
